venv/
env/
.env

__pycache__/
*.pyc

.vscode/

scatter_correlacion.png

.ipynb_checkpoints/
**/ .ipynb_checkpoints/

# Frontend
FrontPrueba/node_modules/
FrontPrueba/dist/
FrontPrueba/.git/
FrontPrueba/*.tsbuildinfo

# Backend
backend/__pycache__/
backend/venv/
backend/.env
backend/data/
/FrontPrueba/.vite